@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');


.about{
    font-family: 'Ubuntu', sans-serif;
}
.disp{
  font-size: 2.5rem;;
}
  .size{
    font-size: 2rem;
  }
  .card:hover {
    background-color: #8ab6a7d8;

  }
  .text{
    color:#af9a7d;
}



.card{
  background-color: #e3ece9;

}